:root {
  --rp-font-family-base: DingTalkJinBuTi, DingTalkSans, "Inter var experimental", "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: DingTalkJinBuTi;
  font-weight: normal;
  src: url('/docs/public/fonts/DingTalkJinBuTi.ttf');
}
@font-face {
  font-family: DingTalkSans;
  font-weight: normal;
  src: url('/docs/public/fonts/DingTalkSans.ttf');
}

/*
** Homepage Layout CSS
*/

.home-container {
  max-width: 47.5rem;
  padding: 48px 20px;
  margin: auto;

  & .site-title {
    font-size: 2rem;
    line-height: 2;
    font-weight: 700;
    text-align: center;
    color: transparent;
    background-image: -webkit-linear-gradient(90deg, var(--rp-c-brand), #43d392);
    background-clip: text;
  }

  & hr {
    color: var(--rp-c-dark);
    border: 0;
    font-size: 0.75rem;
    font-weight: normal;
    padding: 2em 0;
    position: relative;

    &:before {
      content: attr(data-content);
      position: absolute;
      padding: 0 1ch;
      line-height: 1px;
      border: solid var(--rp-c-dark);
      border-width: 0 99vw;
      width: fit-content;
      white-space: nowrap;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & .user-info {
    color: var(--rp-c-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;

    @media (max-width: 600px) {
      flex-direction: column-reverse;
      padding: 20px 0;
    }

    & .basic-info {
      flex: 1;

      & .name {
        font-size: 28px;
        line-height: 2;
      }

      & ul > li {
        padding: 5px 0 5px 16px;
        font-size: 14px;
        position: relative;

        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background-color: var(--rp-c-dark);
          border-radius: 50%;
        }
      }
    }

    & .avatar {
      margin-right: 36px;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background: url("/docs/public/icons/avatar.png") center no-repeat;
      background-size: 100%;
    }
  }

  & .company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;

    & img {
      height: 30px;
      width: auto;
    }
  }

  & .content-list {
    padding: 10px;
    width: 100%;
    background: url("/docs/public/icons/icon-bg.jpg") right center no-repeat;
    background-size: 300px;

    & .item-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      max-width: 60%;

      & .item {
        font-size: 16px;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 30px;
        padding-left: 30px;
        cursor: pointer;

        &.number-1 {
          background-image: url("/docs/public/icons/number-1.png");
        }
        &.number-2 {
          background-image: url("/docs/public/icons/number-2.png");
        }
        &.number-3 {
          background-image: url("/docs/public/icons/number-3.png");
        }
        &.number-4 {
          background-image: url("/docs/public/icons/number-4.png");
        }
        &.number-5 {
          background-image: url("/docs/public/icons/number-5.png");
        }
        &.number-6 {
          background-image: url("/docs/public/icons/number-6.png");
        }

        &:hover {
          font-weight: bold;
          text-decoration: double underline;
        }
      }
    }
  }
}

.dark {
  .home-container {
    & hr {
      color: #ffffff;

      &:before {
        color: #ffffff;
        border-color: #ffffff;
      }
    }
    & .user-info {
      color: #ffffff;

      & .basic-info {
        & ul > li {
          color: #ffffff;

          &:before {
            background-color: #ffffff;
          }
        }
      }
    }
  }
}
