.hero {
  width: 100%;
  height: 100%;
  background: url("/img/hero-banner.jpg") center no-repeat #f7f7f7;
  background-blend-mode: darken;
  background-size: cover;

  & .heroContent {
    max-width: 56rem;
    z-index: 100;
    padding: 1rem 8rem;
    margin: 0 auto;

    @media (min-width: 0) and (max-width: 800px) {
      padding: 1rem;
    }

    & .siteTitle {
      font-size: 1.75rem;
      /*line-height: 2;*/
      font-weight: 700;
      text-align: center;
      color: #ffffff;
      text-shadow: 2px 2px 5px #000000;

      @media (min-width: 0) and (max-width: 800px) {
        font-size: 1rem;
      }
    }

    & .userInfo {
      max-width: 60rem;
      color: #ffffff;
      text-shadow: 2px 2px 5px #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      cursor: pointer;
      margin: 0.5rem auto 0;
      padding: 0 1.5rem;

      @media (max-width: 600px) {
        flex-direction: column;
        padding: 20px 0;
        gap: 0.5rem;
      }

      & .basicInfo {

        @media (min-width: 0) and (max-width: 800px) {
          margin-top: 1rem;
        }

        & ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }

        & ul > li {
          font-size: 14px;
          position: relative;
          padding: 0.5rem 0 0 1rem;

          &:first-child {
            font-size: 1.25rem;
            font-weight: 700;

            &:before {
              top: 1rem;
            }
          }

          &:before {
            position: absolute;
            top: 0.7rem;
            left: 0;
            transform: translateY(50%);
            content: '';
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #ffffff;
            border-radius: 50%;
          }
        }
      }

      & .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: url("/img/avatar.png") center no-repeat;
        background-size: 100%;
        box-shadow: 2px 0 20px rgb(255 255 255 / 0.6);
      }
    }
  }
}

.heroBlur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
