@font-face {
  font-display: block;
  font-family: FFBasis;
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/FarfetchBasis-Bold.otf') format('opentype');
}

@font-face {
  font-display: block;
  font-family: FFBasis;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/FarfetchBasis-Regular.otf') format('opentype');
}
