:root {
  --doc-sidebar-width: 20rem;
}

a.header-github-link {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0 1.5rem;
  background: url("/img/icon-github.svg") center no-repeat;
  background-size: 1.5rem;
}
a.header-linkedin-link {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0 1.5rem;
  background: url("/img/icon-linkedin.svg") center no-repeat;
  background-size: 1.5rem;
}

h1 {
  font-size: 2.25rem;     /* 36px */
  line-height: 2.75rem;   /* 44px */
  font-weight: 700;
  margin: 1.5rem 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;      /* 24px */
  line-height: 2rem;      /* 32px */
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;     /* 20px */
  line-height: 1.75rem;   /* 28px */
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;    /* 18px */
  line-height: 1.625rem;  /* 26px */
  font-weight: 500;
}

h5 {
  font-size: 1rem;        /* 16px */
  line-height: 1.5rem;    /* 24px */
  font-weight: 500;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

ul.menu__list ul.menu__list {
  border-left: solid 1px #bbbbbb;
  padding-left: 0;
  margin-left: 1.25em;
}

.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-1 > div:first-child {
  background: url("/img/icon-dot.svg") 1rem center no-repeat;
  background-size: 1rem;
  padding-left: 1.75rem;
}
