:root {
  --vp-font-family-base: "MiSans", Helvetica, sans-serif;
  --vp-font-family-mono: "MiSans";
  --vp-nav-logo-height: 30px;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.VPNavBarSearch, .VPContent {
  flex-grow: 0 !important;
}

/* English Fonts */

@font-face {
  font-display: swap;
  font-family: JetBrainsMono;
  src: url(/fonts/JetBrainsMono.woff2) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: DroidSansMono;
  src: url(/fonts/DroidSansMono.woff2) format('truetype');
}