footer {
  width: 100%;
  box-sizing: border-box;
  margin-top: 2rem;
}

.sponsor {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;

  img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
}


